<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/main.js"></script>

        <title>Project: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar">
            <a href="/" id="navbar_logo">RapTempo</a>
            <!-- Following code creates a 3-bar hamburger toggle button -->
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <!-- creates a menu with links to other html pages -->
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/" class="navbar_links">Home</a>
                </li>
                <li class="navbar_item">
                    <a href="/bpmcalculator" class="navbar_links">BPMcalculator</a>
                </li>
                <li class="navbar_item">
                    <a href="/test" class="navbar_links">Test</a>
                </li>
            </ul>
        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
